.container {
 	width: 90%;
  	margin-left: 5%;
	padding-top: 10px;
  	/*background-color: #f0c68b;*/
  	background-color: rgb(255,255,255,0.9);
  	display: flex;
  	flex-direction: column;
 	justify-content: space-around;
  	min-height: calc(100vh - 50px);
  	padding: 50px;
}

.header {
 width: 100%;
 text-align: center;
 padding-bottom: 30px;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
	
body { 
	font-family: arial;
	/*background-color: #f0c68b; */
	padding: 10px;
	/*background-image: url('pai.jpg');*/
	background-color: #ffd06e;
	background-size: cover;
}


h1 { 
	/* padding-bottom: 20px;*/
	color:black;
}

h3 {
	padding-bottom: 5px;
}

a {
	text-decoration: none;
	color:  #b88820 ;
}

a:hover {
	color: orange;
}

ul {

	padding-bottom: 30px;
}

li {
	/*padding-right: 20px;
	padding-bottom: 30px;*/
}

img {
	float:right;
       	padding: 10px;	
}

p {
	line-height: 1.5em;
}

